doctype html
html
  head
    title Naturally Bizarre

    meta(name='description' content='Experiments made by Luis Henrique Bizarro based on the book The Nature of Code.')

    meta(charset='UTF-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    link(rel='shortcut icon' href='dist/img/favicon.png')

    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Inconsolata:400,700')
    link(rel='stylesheet' href='dist/css/main.css')

    meta(property='og:url' content='http://lhbzr.com/')
    meta(property='og:title' content='Naturally Bizarre')
    meta(property='og:image' content='dist/img/share/facebook.jpg')
    meta(property='og:description' content='Experiments made by Luis Henrique Bizarro based on the book The Nature of Code.')

    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@lhbzr')
    meta(name='twitter:title' content='Naturally Bizarre')
    meta(name='twitter:description' content='Experiments made by Luis Henrique Bizarro based on the book The Nature of Code.')
    meta(name='twitter:image:src' content='dist/img/share/twitter.jpg')

  body
    ul.menu
      li.menu-item
        a.menu-link.js-experiment-toggle(href='#1')
          span.menu-link-text Walkers
      li.menu-item
        a.menu-link.js-experiment-toggle(href='#2')
          span.menu-link-text More comming soon!

    script(src='dist/js/main.js')
