.menu
  display inline-block
  list-style none
  position absolute
  right 0
  text-align center
  top 50%
  transform translateY(-50%)

.menu-item
  display block

.menu-link
  display block
  font-size 0
  height 50px
  margin auto
  position relative
  text-decoration none
  width 50px

  &:after
    background #FFF
    border-radius 50%
    content ''
    display block
    height 10px
    left 50%
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width 10px

  &:before
    border 2px solid #FFF
    border-radius 50%
    bottom 50%
    content ''
    display block
    left 50%
    position absolute
    right 50%
    transition all .4s
    top 50%

  &.is-active,
  &:hover
    &:before
      bottom 15px
      left 15px
      right 15px
      top 15px

.menu-link-text
  background #000
  color #FFF
  border 2px solid #FFF
  display block
  font-size 12px
  letter-spacing 1px
  opacity 0
  padding 8px 11px 8px 15px
  position absolute
  right 100%
  top 50%
  transform translateX(-25px) translateY(-50%)
  transition opacity .4s, transform .4s, visibility .4s
  visibility hidden
  white-space nowrap

  &:after
    background #000
    border solid #FFF
    border-width 2px 2px 0 0
    content ''
    display block
    height 10px
    position absolute
    right -3px
    top 50%
    transform rotate(45deg) translateY(-50%)
    width 10px

  .menu-link:hover &
    opacity 1
    transform translateX(0) translateY(-50%)
    visibility visible
